@import "@tailng-ui/theme/tokens/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 10px;
    display: flex;
    max-width: auto;
    background-color: rgb(203, 212, 220);
}